/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* To override default styles from the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project1 styles */
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
    font-family: "Abel", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 150%;
}





header {
    background-color: #525152;
    padding: 5px 12px;
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    color: #fafafa;
    text-decoration: none;
    font-size: 110%;
}

#menu {
    list-style-type: none;
}

#menu li {
    color: #fafafa;
    margin-bottom: 10px;
}

nav {
    position: absolute;
    background-color: #525152;
    width: 100%;
    left: 0;
    padding: 5px 12px;
    display: none;
    top: 100%;
}

/* Navbar with dropdown toggle, code from Love Running project CI*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #fafafa;
}


main {
    margin-top: 44px;
    /* shorthand for flex-grow, flex-shrink, flex-basis > Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

#welcome-box {
    background: url("./images/code-black-white.webp") no-repeat center center/cover;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay-text {
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #df6243;
    font-size: 100%;
    width: 50%;
    padding: 25px;
}

#overlay-text>h2, #overlay-text>p {
    color: #fafafa;
    text-align: center;
}

#about-me-img {
    background: url("./images/picture-me-black-white.webp") no-repeat top center / cover;
    transform: scaleX(-1);
    height: 90vw;
    width: 90vw;
    margin: 20px 0;
    border-radius: 25% 0 25% 0;
    max-width: 300px;
    max-height: 300px;
}

footer {
    background-color: #525152;
}

#social-medias {
    text-align: center;
    padding: 5px 12px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-medias i {
    color: #fafafa;
    font-size: 150%;
    padding: 5px;

}