/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* To override default styles from the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project1 styles */
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Abel", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 150%;
}

header {
    background-color: #525152;
    padding: 5px 12px;
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    color: #fafafa;
    text-decoration: none;
    font-size: 110%;
}

#menu {
    list-style-type: none;    
}

#menu li {
    color: #fafafa;
    margin-bottom: 10px;
}

nav {
    position: absolute;
    background-color: #525152;
    width: 100%;
    left: 0;
    padding: 5px 12px;
    display: none;
    /* the top of the element (nav) should start at the bottom of its parent (header). 0% = top of the parent, 100% = bottom of it */
    top: 100%;
}

/* Navbar with dropdeown toggle, code from Love Running project CI*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #fafafa;
}


main {
    background-color: lightblue;
    margin-top: 44px;
}

footer {
    background-color: lightgrey;
}